{{ form_row(form.multiple) }}

{#{% macro item_row(item) %}#}
{#    <tr>#}
{#        <td class="align-middle pr-2"><i class="handle fa fa-lg fa-grip-vertical opacity-50"></i></td>#}
{#        <td class="w-full align-middle pl-1">#}
{#            {{ form_row(item.id) }}#}
{#            {{ form_row(item.order, { attr: { 'data-sortable-collection-target': 'order'} }) }}#}
{#            {{ form_widget(item.label) }}#}
{#        </td>#}
{#        <td class="align-middle pl-1">#}
{#            <a class="btn btn-error ml-auto mt-1 flex flex-nowrap" data-action="collection#remove"><i class="fa fa-trash fa-lg mr-4"></i> Supprimer</a>#}
{#        </td>#}
{#    </tr>#}
{#{% endmacro %}#}

{#<label class="label block required">Options</label>#}

{#<div data-controller="collection"#}
{#     data-collection-prototype-value="{{ _self.item_row(form.options.vars.prototype)|e }}">#}
{#    <table class="mb-4">#}
{#        <tbody data-collection-target="list" data-controller="sortable-collection" data-sortable-collection-handle-value=".handle">#}
{#        {% for item in form.options.children %}#}
{#            {{ _self.item_row(item) }}#}
{#        {% endfor %}#}
{#        </tbody>#}
{#    </table>#}
{#    <a class="btn btn-success" data-action="collection#add"><i class="fa fa-plus fa-lg mr-4"></i> Ajouter une option</a>#}
{#</div>#}
