<turbo-frame id="project-items-add-{{ project.id }}">
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {% set ignoreGroups = product.featureGroups|length <= 1 %}
    <div class="px-8 py-4 rounded-lg bg-base-200 mt-4 mb-6 flex flex-col gap-4">
        {% for group in product.featureGroups %}
            <div>
                {% if not ignoreGroups %}
                    <div class="mb-3 bg-base-300 -mx-2 px-2 py-1 opacity-50">{{ group.name }}</div>
                {% endif %}
                <div class="flex flex-col gap-4 overflow-y-auto">
                    {% for feature in group.features %}
                        {% for featureValue in form.featureValues %}
                            {% if featureValue.vars.data.productFeature == feature %}
                                {{ form_row(featureValue, {row_attr: { class: 'mb-0' }}) }}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
    {{ form_row(form.quantities) }}
    <a href="{{ path('app_project_item_create', { project: project.id }) }}" class="btn mr-2">
        Annuler
    </a>
    <button formnovalidate
            class="btn btn-success"><i class="fa fa-plus fa-lg mr-2"></i> Ajouter
    </button>
    {{ form_end(form) }}
</turbo-frame>