<turbo-frame id="project-items-{{ project.id }}">
    <div
            id="project-items-list-{{ project.id }}"
            class="divide-y divide-base-100 mb-4"
            data-controller="sortable-collection"
            data-sortable-collection-handle-value=".handle"
    >
        {% for item in project.items %}
            {{ include('project_item/show.frame.html.twig', {project: project, item: item}) }}
        {% endfor %}

    </div>
    <div class="w-full pt-4">
        <turbo-frame
                id="project-items-add-{{ project.id }}"
                src="{{ path('app_project_item_create', { project: project.id }) }}"
        >
            <button class="btn btn-sm btn-ghost loading"></button>
        </turbo-frame>
    </div>

</turbo-frame>
