<turbo-frame
        id="project-item-{{ item.id }}"
        class="block"
        data-sortable-collection-update-url="{{ path('app_project_item_move', {project: project.id, item: item.id}) }}"
>
    <div class="flex items-center gap-2 py-2">
        <div class="align-middle pr-2"><i class="handle fa fa-lg fa-grip-vertical opacity-50"></i></div>
        <div class="w-full align-middle pl-1 flex-grow">
            {{ item.name }}
        </div>
        <a href="{{ path('app_' ~ resourceType ~ '_update', { project: project.id, item: item.id }) }}"
           class="ml-auto btn btn-ghost btn-circle"
        >
            <i class="fa fa-edit fa-lg"></i>
        </a>
        <a href="{{ path('app_' ~ resourceType ~ '_delete', { project: project.id, item: item.id }) }}"
           class="btn btn-error btn-ghost btn-circle text-error"
           data-turbo-frame="modal-confirmation"
        >
            <i class="fa fa-trash fa-lg"></i>
        </a>
    </div>

    {{ include('project_item/_features.html.twig', { item: item }) }}

    {{ include('partials/_detail_field.html.twig', {
        label: 'Quantités',
        value: item.quantities|join(', ')
    }) }}
</turbo-frame>